html,
body {
  padding: 0px;
  margin: 0px;
}

#app {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sampleImage {
  max-width: 100%;
  max-height: 80%;
}
